body {
    margin: 0;
    padding: 0;
    background-color:#E4E4E4 ;
    font-family: tahoma;
}

.col-lg-2 {
    background-color:rgba(245, 245, 245, 0.75);
    margin-top: 0.2%;
}

#buttons {
    margin-top: 16%;
}

button {
    width: 100%;
    height: 3em;
    margin-bottom: 20px;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #E4E4E4;
}

button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #C5FF78 0%, #C5FF78 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 100%;
}

#headerMenu {
    width: 100%; /* Occupy the full width of the page */
    height: 2%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items to the left and right edges */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow effect at the bottom */
}

img {
    height: 50px;
    object-fit: contain;
}

#headerMenu span {
    font-weight: bold;
    margin-right: 50px;
}

#action_buttons {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    justify-content: center;
    margin-top: 5%;
}

main button1 {
  padding: 30px 60px    ;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-right: 10px;
  font-weight: 500;
  color: #000000;
  background-color: #fff;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-align: center;
}

main button1:hover {
  background-color: #C5FF78;
  box-shadow: 0px 15px 20px rgba(197, 255, 120, 0.4);
  color: #000000;
  transform: translateY(-7px);
}

main button1:active {
  transform: translateY(-1px);
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 95%;
    margin-top: 5%;
    text-align: center;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #E4E4E4;
}

th {
    background-color: #C5FF78;
}

.container-fluid{
    display: flex;
    align-items: center;
}
.row{
    display: flex;
    width: 100%;
}
.nav{
    margin-top: 5%;
   
}
.col-lg-2 {
height: 100vh;
}

@media screen and (max-width: 992px) {
.col-lg-2 {
    height: 20%;
}
}
h1{
    text-align: center;
    font-family: tahoma;
    margin-top: 4%;
    font-weight: bold;
    font-size: calc(12px + 1.5vw); /* Adjust the base and factor as needed */

}
/*Add dimaond- pop up window- css*/ 
.popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1000; 
}

.popupContent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}
.inputGroup {
font-family: 'Segoe UI', sans-serif;
margin: 1em 0 1em 0;
max-width: 1000px;
}

.inputGroup input {
font-size: 100%;
padding: 0.8em;
outline: none;
border: 2px solid rgb(200, 200, 200);
background-color: transparent;
border-radius: 20px;
width: 100%;
margin-right: 5%;
}
h2{
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-top: 2%;
}
.pButton {
padding: 1.3em 3em;
font-size: 12px;
text-transform: uppercase;
text-align: center;
letter-spacing: 2.5px;
font-weight: 500;
color: #000;
background-color: #fff;
border: none;
border-radius: 45px;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
cursor: pointer;
outline: none;
height: auto;
}

.pButton:hover{
background-color: #C5FF78;
box-shadow: 0px 15px 20px rgba(197, 255, 120, 0.4);
color: #000000;
transform: translateY(-7px);
}

.pButton:active {
transform: translateY(-1px);
}
/*Sent button the CID to API*/
.cta{
    position: relative;
    margin: auto;
    padding: 12px 18px;
    /*transition: all 0.2s ease;*/
    border: none;
    background: none;
    width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #C5FF78;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
    }

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: black;
    }

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke:black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
    }

.cta:hover:before {
    width: 100%;
    background: #C5FF78;
    }

.cta:hover svg {
    transform: translateX(0);
    }

.cta:active {
    transform: scale(0.95);
    }
.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
    }

.coolinput label {
    font-size: 1rem;
    color: black;
    font-weight: 700;
    position: relative;
    top: 0.4rem;
    margin: 0 0 0 7px;
    padding: 0 2px;
    font-family:'Segoe UI', sans-serif;
    width: fit-content;
}
.coolinput input.input {
    padding: 11px 10px;
    font-size: 1rem;
    border: 2px #C5FF78 solid;
    border-radius: 5px;
    background: #f2f0f0;
}

.coolinput input[type=text].input:focus {
    outline: none;
}
.coolinput select {
    padding: 11px 10px;
    font-size: 1rem;
    border: 2px #C5FF78 solid;
    border-radius: 5px;
    background: #f2f0f0;
}
select#status option {
    font-style:inherit;
    font-size: 11pt;
 }   
        